body,
li {
	font-family: Arial, sans-serif;
	color: $text-color-regular;
	font-size: 14px;
}

h1,
h2 {
	font-weight: normal;
}

h1,
h2,
div {
	border-color: $border-color;
}

h1 {
	font-size: 18px;
	line-height: 1.5;
}

h2 {
	font-size: 16px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	line-height: 1.8;
}

input {
	line-height: 1.5;
	&::placeholder {
		color: $text-color-hint;
	}
}
