body {
	padding-left: 0.5rem;
	padding-right: 4rem;
}

.person {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.h1 {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	margin-bottom: 1.5rem;
}

.hobby-list-title {
	display: flex;
	align-items: center;
	&__text {
		margin-right: 0.8rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	&__line {
		width: 100%;
		border-bottom-width: 1px;
		border-bottom-style: dotted;
	}
}

.hobby-list {
	padding-left: 1rem;
}

.hidden {
	display: none;
}

.input-container {
	margin-top: 1.2rem;
}

.hobby-item {
	position: relative;
	left: -15px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	&__icon-add,
	&__icon-remove {
		display: none;
		position: absolute;
		left: 0;
		cursor: pointer;
	}
	&:not(.hobby-item--mine):hover &__icon-add {
		display: initial;
	}
	.hobby-item--mine:hover &__icon-remove {
		display: initial;
	}
	&__text {
		white-space: nowrap;
		overflow-x: hidden;
		margin-top: 0;
		margin-bottom: 0;
	}
}
