<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Hobbies</title>
</head>

<body>
	<noscript>
		<strong>We're sorry but hobbies doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
	</noscript>

	<div id="app"></div>

	<template id="tmpl-person">
		<div id="person-{{ id }}" class="person">
			<h1 class="h1">{{ title }}</h1>
			<div class="hobby-list-title">
				<h2 class="hobby-list-title__text">Хобби</h2>
				<div class="hobby-list-title__line"></div>
			</div>
			<div class="hobby-list">
				<div class="input-container hidden">
					<input type="text" placeholder="Введите текст">
				</div>
				<ul></ul>
			</div>
		</div>
	</template>

	<template id="tmpl-hobby-item">
		<div class="hobby-item hobby-item--mine">
			<div class="hobby-item__icon-add">
				<img src="/assets/add.gif" alt="plus">
			</div>
			<div class="hobby-item__icon-remove">
				<img src="/assets/remove.png" alt="plus">
			</div>
			<div class="hobby-item__text">{{ text }}</div>
		</div>
	</template>
</body>

</html>